<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" href="static/style.css">
	<link rel="stylesheet" href="static/style2.css">
	        
    <title> Home </title>

</head>

<body>

    <nav>

      <div class="heading">
        <h4> CD'ing </h4>
      </div>

      <ul class="nav-links">
        <li><a class="active" href="/">Home</a></li>
        <li><a href="/shop">Shop</a></li>
        <li><a href="/cart">Cart</a></li>
        <li><a href="/signup">Signup</a></li>
      </ul>

    </nav>

    <h1 class="body-text"> CD'ING </h1>


    <div class="container">
	<div class="screen">
		<div class="screen__content">
			<form class="login" method="get" action="/shop">
				<div class="login__field">
					<i class="login__icon fas fa-user"></i>
					<input type="text" class="login__input" placeholder="Email" name="email" required>
				</div>
				<div class="login__field">
					<i class="login__icon fas fa-lock"></i>
					<input type="password" class="login__input" placeholder="Password" name="password" required minlength="6">
				</div>
				<button class="button login__submit">
					<span class="button__text">Log In Now</span>
					<i class="button__icon fas fa-chevron-right"></i>
				</button>				
			</form>
		</div>
		<div class="screen__background">
			<span class="screen__background__shape screen__background__shape4"></span>
			<span class="screen__background__shape screen__background__shape3"></span>		
			<span class="screen__background__shape screen__background__shape2"></span>
			<span class="screen__background__shape screen__background__shape1"></span>
		</div>		
	</div>
</div>


    <div style="margin-left: 20%; margin-top: 10%; margin-right: 20%; ">

  <div class="row">
    <div class="col-sm-4" id="leftbox">
		<span class="fas fa-carrot"></span>
			<h4> CD shopping </h4>
			<p>exclusively made for my own taste</p>
	</div>
    <div id="middlebox">
		<span></span>
		<h4> worldwide shipping</h4>
		<p>hot shipping</p>
	</div>
    <div id="rightbox">
				<span></span>
				<h4>CD players</h4>
				<p>to play your cds</p>
			</div>
  </div>
</div>

		</div>
	</div>

</body>

</html>